:root {
  --color-body: lightgray;
  --color-body-darker: #5c5577;
  --color-heading: black;

  --color-primary: #002060;

  --color-secondary: #00e01a;
  --dimmed-secondary: #00c216;

  --color-accent: #ff0000;
  --dimmed-accent: #fc4e4e;

  --linkedin-blue: #0a66c2;

  --color-border: #ccc;
  --border-radius: 30px;

  --card_radius: 15px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Topography */

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  color: var(--color-body);
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2rem;
  }
}

.line-break {
  display: block;
  margin: 1rem;
}

/* Contianer */

.container {
  margin: 0 auto;
  max-width: 1140px;
}

/* Links */

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
}

.link-arrow:hover::after {
  margin-left: 10px;
  transition: margin 0.25s;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  text-transform: capitalize;
  white-space: nowrap;
  height: fit-content;
}

.badge--primary {
  background-color: var(--color-primary);
  color: white;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: white;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/bullseye.svg);
  padding-left: 2rem;
  color: var(--color-heading);
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* icons */
.icon {
  height: 40px;
  width: 40px;
}

.icon--primary {
  stroke: var(--color-primary);
  fill: var(--color-primary);
}

.icon--black {
  fill: none;
  stroke: black;
}

.icon-container--accent {
  background-color: red;
}

.icon--white {
  fill: white;
}

.icon--secondary {
  stroke: var(--color-secondary);
  fill: var(--color-secondary);
}

.icon--linkedin-blue {
  fill: var(--linkedin-blue);
}

.icon--small {
  height: 30px;
  width: 30px;
}

.icon-container--primary {
  background-color: #f3f9fa;
}

.icon-container {
  height: 64px;
  width: 64px;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Buttons */

.btn-container {
  width: 100%;
}

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

.btn--long {
  padding-right: 6rem;
  padding-left: 6rem;
}

.btn--primary {
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background-color: #fff;
  color: var(--color-primary);
}

.btn--secondary {
  border: 2px solid var(--color-secondary);
  background-color: var(--color-secondary);
  color: white;
  text-transform: uppercase;
}

.btn--secondary:hover {
  background-color: var(--dimmed-secondary);
  border-color: var(--dimmed-secondary);
}

.btn--outline {
  border: 2px solid var(--color-primary);
  background-color: white;
  color: var(--color-primary);
}

.btn--outline:hover {
  background-color: var(--color-primary);
  color: white;
}

.btn--accent {
  background-color: var(--color-accent);
  color: white;
}

.btn--search::before {
  font-family: "Font Awesome 5 Free";
  content: "\f002";
  padding-right: 10px;
}

.btn--accent:hover {
  background-color: var(--dimmed-accent);
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Inputs */

.input {
  border-radius: var(--border-radius);
  border: 1.5px solid var(--color-border);
  box-shadow: 0 0 15px 1px lightgray;
  color: var(--color-heading);
  font-size: 2rem;
  outline: none;
  padding: 1.5rem;
}

.input--group {
  align-items: center;
  border-radius: 50px;
  border: 1.5px solid var(--color-border);
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 0.5rem;
}

.input--group .input {
  border: 0;
  box-shadow: none;
  flex-grow: 1;
  padding: 1.5rem 2.5rem;
  overflow: hidden;
  width: 0;
}

.input--group .btn {
  margin: 4px;
}

::placeholder {
  color: #cdcbd7;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* Cards */

.card {
  border-radius: var(--card_radius);
  box-shadow: 0 0 20px 2px lightgray;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 15px 35px;
}

.card--primary .card__header {
  background-color: var(--color-primary);
  color: #fff;
}

.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: #fff;
}

.card--secondary .badge--secondary {
  background: var(--color-primary);
}

.card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Project */

.project--popular .card__header::before {
  content: url(images/popular.svg);
  display: inline-block;
  position: absolute;
  width: 40px;
  top: -6px;
  right: 10%;
}

.project--popular .card__header {
  position: relative;
}

.project--primary {
  color: black;
}

.project__name {
  font-size: 3rem;
  color: white;
  margin: 1rem 0;
}

.project__cost {
  display: inline-block;
  font-size: 4rem;
  margin: 1rem 0;
}

.project__timeframe {
  opacity: 0.8;
}

.project__footer {
  margin: 1rem 0;
  letter-spacing: 2px;
}

.project__popular {
  height: 100px;
  position: absolute;
  top: 0;
  left: 80%;
  z-index: 999;
}

/* Badges */

.badge {
  padding: 5px 10px;
  margin: 0 1rem;
}

.badge--primary {
  padding: 5px 10px;
  margin: 0 1rem;
}

/* Media */

.media {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 4rem;
}

.media__body {
  margin-left: 2rem;
}

.media__title {
  padding: 0;
  margin: 0 0 1rem 0;
  color: white;
}

.media_description {
  color: white;
  opacity: 0.6;
}

.media__icon {
  margin-top: 1rem;
  font-size: 4rem;
  color: lightgreen;
}

.media__image {
  margin-top: 1rem;
}

/* Quote */

.quote {
  font-style: italic;
  font-size: 2.4rem;
  color: var(--color-body-darker);
  line-height: 1.3;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__signature {
  font-style: normal;
  margin-top: 3rem;
}

.quote__media-image {
  position: relative;
  bottom: 10px;
}

.quote__author {
  color: var(--color-primary);
  font-size: 3rem;
  margin-bottom: 0;
}

.quote__organization {
  color: var(--color-heading);
  font-size: 2rem;
  opacity: 0.4;
}

/* Grids */

.grid {
  display: grid;
}

.grid--2x1 {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}

/* Testimonials */

.testimonial {
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: min(auto, 2rem);
  margin-right: min(auto, 2rem);
}

.testimonial__image {
  position: relative;
}

.testimonial__image > img {
  width: 100%;
}

.testimonial__image > .icon-container {
  position: absolute;
  top: 2rem;
  right: -32px;
}

@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }

  .testimonial .quote {
    margin-left: 6rem;
  }
}

/* Callouts */

.callout {
  border-radius: 20px;
  padding: 2rem;
}

.callout--primary {
  background-color: var(--color-primary);
}

.callout__content {
  margin: 1rem;
  text-align: center;
}

.callout__title {
  font-size: 4rem;
  margin: 1rem 0;
}

.callout--primary .callout__title,
.callout--primary .callout__description {
  color: white;
}

.callout .btn {
  align-self: center;
  justify-self: center;
}

@media screen and (min-width: 768px) {
  .callout__content {
    text-align: left;
  }

  .callout .btn {
    align-self: center;
    justify-self: start;
    margin-left: 3rem;
  }

  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }
}

/* Collapsibles */

.collapsible .list__item {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.collapsible__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.collapsible__title {
  font-size: 3rem;
  margin: 0;
  text-transform: uppercase;
}

.collapsible__icon {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__header:hover {
  cursor: pointer;
}

.collapsible--expanded {
  transform: rotate(0);
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__icon {
  transform: rotate(0);
  transition: transform 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Block */

.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
  overflow: hidden;
}

.block--skewed-left {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  padding-bottom: calc(var(--padding-vertical) + 8rem);
}

.block--skewed-right {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.block--dark {
  background-color: black;
  color: white;
}

.block--primary {
  background-color: var(--color-primary);
  color: white;
}

.block__header {
  text-align: center;
  margin-bottom: 3rem;
}

.block__heading {
  margin: 0;
}

.block--dark .block__heading,
.block--primary .block__heading {
  color: white;
}

/* Navgation Bar */

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.nav--dark {
  background-color: #000;
}

.nav--primary {
  background-color: var(--color-primary);
}

.nav__icon {
  width: 90px;
  margin: 1rem;
}

.nav__hamburger {
  margin-right: 1rem;
  cursor: pointer;
  opacity: 0.8;
  transition: box-shadow 0.15s;
}

.nav.collapsible--expanded .nav__hamburger {
  box-shadow: 0 0 0 3px rgb(194, 194, 179);
  border-radius: 5px;
}

.nav__list {
  flex-basis: 100%;
  margin: 0;
}

.nav__item > a {
  color: white;
  display: block;
}

.nav__item {
  padding: 1rem 0;
  cursor: pointer;
}

.nav__item:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

.nav__item > a:hover {
  color: darkgray;
}

.collapsible--expanded .nav__list {
  margin: 1rem;
}

@media screen and (min-width: 768px) {
  .nav__list {
    text-align: right;
    max-height: fit-content;
    opacity: 1;
    margin-right: 3rem;
    flex-basis: auto;
    display: flex;
  }

  .nav__item {
    margin: 1rem;
  }

  .nav__item:not(:last-child) {
    border-bottom: 0;
  }

  .nav__hamburger {
    display: none;
  }
}

/* Profession */

.profession {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  overflow: hidden;
}

.profession__name {
  color: white;
  font-size: 6rem;
}

.profession__skills {
  color: white;
  font-size: 3rem;
}

.profession__divider {
  height: 2px;
  width: 75%;
  min-width: 650px;
  background-color: white;
}

.profession__skills {
  padding: 0;
}

.profession__skill {
  display: inline-block;
  margin-right: 2rem;
}
/* Hero */

.hero__image {
  margin: auto;
}

.hero__image > img {
  width: 100%;
  max-width: 300px;
  border: 5px solid var(--color-secondary);
  border-radius: 50%;
  box-shadow: 11px 14px 25px rgba(0, 0, 0, 0.6);
}

.hero__skill {
  font-size: 2.5rem;
}

.hero__content {
  margin: 3rem;
}

.hero__content .block__heading {
  font-size: 5rem;
}

@media screen and (min-width: 768px) {
  .hero__content {
    align-self: center;
  }
}

/* Domain Block */

.block-domain__prices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 6rem);
  justify-items: center;
  margin: 0rem auto;
  max-width: 700px;
}

.block-domain .input--group {
  margin: 4rem auto;
  max-width: 670px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  border: 0;
}

@media screen and (min-width: 768px) {
  .block-domain__prices {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    justify-items: space-between;
  }
}

/* Plans Block */

.block-plans .grid {
  gap: 4rem;
  margin: 0 auto;
}

.block-plans .project {
  margin: auto;
  max-width: 500px;
  transition: transform 0.3s ease-out;
}

.block-plans .project:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 1024px) {
  .block-plans .project--popular {
    transform: scale(1.1);
  }

  .block-plans .project--popular:hover {
    transform: scale(1.15);
  }
}

/* Features */

.feature {
  margin: 12rem 0;
  gap: 4rem 2rem;
}

.feature:first-of-type {
  margin-top: 6rem;
}

.feature picture {
  align-self: center;
  justify-self: center;
}

.feature__description {
  margin: 2rem;
}

.feature__image {
  width: 100%;
  margin: auto 0;
}

.feature__heading {
  margin: 0.5rem 0;
  font-size: 3rem;
  text-transform: capitalize;
}

.feature__text {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}

/* Showcase */

.block-showcase {
  margin: 4rem 0;
}

.block-showcase__heading {
  margin-bottom: 5rem;
}

.block-showcase__image > img {
  margin: 2rem auto;
  width: 100%;
  border-radius: 5px;
  border: 10px solid gray;
  box-shadow: 0 2px 25px 5px var(--linkedin-blue);
}

@media screen and (min-width: 768px) {
  .block-showcase__image {
    justify-self: end;
  }

  .block-showcase__image > img {
    width: auto;
    max-width: 600px;
    margin: auto 2rem;
  }

  .block-showcase .grid {
    grid-template-columns: 50% 50%;
  }

  .block-showcase__medias {
    margin: auto;
  }
}

/* Footer */

.footer {
  padding: 2rem;
}

.footer__sections {
  display: flex;
  flex-direction: column;
}

.footer--dark {
  background-color: black;
}

.footer--primary {
  background-color: var(--color-primary);
}

.footer--dark * {
  color: white;
}

.footer--primary * {
  color: white;
}

.footer__item {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.footer__item:hover {
  opacity: 0.5;
}

.footer__section {
  padding: 2rem 0;
  border-bottom: 1px solid #393939;
}

.footer__title {
  font-size: 2rem;
  font-weight: 600;
}

.footer__attribution {
  text-align: center;
  margin-top: 5rem;
}

.footer__icon {
  width: 10rem;
  height: 10rem;
}

.footer__copyright {
  font-size: 2.1rem;
  opacity: 0.5;
  color: white;
}

@media screen and (min-width: 768px) {
  .footer {
    font-size: 1.5rem;
  }

  .footer__sections {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__sections .collapsible__icon {
    display: none;
    cursor: none;
  }

  .footer__sections .collapsible__content {
    max-height: 100vh;
    opacity: 1;
  }

  .footer__section {
    border-bottom: none;
    margin: 2rem;
  }

  .footer__title {
    cursor: default;
  }

  .footer__attribution {
    order: -1;
  }
}

/* Menu */

.action--menu--container {
  width: fit-content;
  position: relative;
}

.action--menu {
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: transform 0.5s;
}

.action--menu__icon {
  color: black;
  display: inline-block;
  padding: 8px 14px;
}

.action--menu--active {
  background-color: #d9d9d9;
  transform: rotate(90deg);
}

.action--menu:hover {
  background-color: #d9d9d9;
}

.action--list {
  color: black;
  list-style: none;
  padding: 0;
  margin: 0 1.5rem;
  background-color: white;
  width: fit-content;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid lightgray;
  position: absolute;
  top: 1.5rem;
}

.action--list__item {
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.action--list__item:hover {
  background-color: lightgray;
}

.action--list :not(:last-child) {
  border-bottom: 1px solid lightgray;
}

.js-edit::before {
  font-family: FontAwesome;
  content: "\f044"; /* FontAwesome Unicode */
  padding-right: 2rem;
}

.js-delete::before {
  font-family: FontAwesome;
  content: "\f2ed"; /* FontAwesome Unicode */
  padding-right: 2rem;
}

.js-copy::before {
  font-family: FontAwesome;
  content: "\f0c5"; /* FontAwesome Unicode */
  padding-right: 2rem;
}

.hidden {
  display: none;
}
