<div class="action--menu--container">
    <div id="test" class="action--menu">
      <span class="fas fa-ellipsis-v action--menu__icon"></span>
    </div>
    <ul class="action--list hidden">
      <li class="action--list__item js-edit">Edit</li>
      <li class="action--list__item js-delete">Delete</li>
      <li class="action--list__item js-copy">Copy</li>
    </ul>
  </div>
  <div class="action--menu--container">
    <div class="action--menu">
      <span class="fas fa-ellipsis-v action--menu__icon"></span>
    </div>
    <ul class="action--list hidden">
      <li class="action--list__item js-edit">Edit</li>
      <li class="action--list__item js-delete">Delete</li>
      <li class="action--list__item js-copy">Copy</li>
    </ul>
  </div>
</body>
<script src="/Javascript/action-menu.js"></script>