<article class="article article--container">
  <h2 class="article__title">About Me</h2>
  <h3 class="article__subtitle">Free Time</h3>
  <p class="article__text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est itaque earum
    laborum consectetur necessitatibus. Architecto neque saepe.
  </p>
  <figure class="article__figure">
    <img class="article__image" src="images/Linkedin.webp" alt="" />
    <p class="article__image-annotation">
      Figure 1: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam
      veniam unde tenetur incidunt id, aliquam blanditiis earum ducimus deserunt
      modi.
    </p>
  </figure>
  <p class="article__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde enim ab, est
    ducimus neque rerum fuga ea, nobis iusto corrupti voluptate. Eaque ab enim,
    unde tenetur doloribus qui ad laboriosam nemo dolorem, laudantium
    repudiandae earum fuga recusandae blanditiis harum.
  </p>
</article>
