<section class="block block--dark block--skewed-left">
  <header class="container block__header">
    <h2 class="block__heading">This is my block</h2>
    <p class="block__text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis voluptas
      itaque, dolore expedita quia blanditiis provident iusto quas, et
      perferendis necessitatibus. Eligendi tempore illum doloribus natus dolore
      minima itaque voluptatum eius ipsum repellendus atque sint nostrum
      possimus, ut architecto reiciendis commodi deleniti repudiandae
      accusantium ullam.
    </p>
  </header>
</section>
