<section class="block block-domain container">
  <header class="block__header">
    <h2 class="block__heading">
      The best developer for the best price starts here
    </h2>
    <p class="block__text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus provident
      consequuntur omnis accusantium dolore sequi?
    </p>
  </header>
  <div class="input--group">
    <input class="input" type="text" placeholder="Enter domain name here..." />
    <button class="btn btn--accent btn--search">Search</button>
  </div>
  <ul class="list block-domain__prices">
    <li>20% Off</li>
    <li>20% Off</li>
    <li><span class="badge badge--primary">20% Off</span></li>
    <li>20% Off</li>
    <li>20% Off</li>
    <li>20% Off</li>
  </ul>
</section>
