<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__title">Ready to Get Stated?</h2>
      <p class="callout__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam animi
        quasi vero voluptate atque nemo alias architecto, minima non, error, ab
        omnis. Assumenda dignissimos ipsa, maxime eos voluptate praesentium
        corporis?
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--long"> Click Me </a>
  </div>
</div>
