<div class="project project--popular">
  <div class="card card--secondary">
    <header class="card__header">
      <h3 class="project__name">Project Name</h3>
      <span class="project__cost">$14,000</span>
      <span class="project__timeframe">/month</span>
      <span class="badge badge--secondary">20% Done</span>
      <p class="project__footer">It was a fun project</p>
    </header>
    <div class="card__body">
      <ul class="list list--tick">
        <li class="list__item">Item 1</li>
        <li class="list__item">Item 2</li>
        <li class="list__item">Item 3</li>
      </ul>
      <button class="btn btn--outline btn--block">Buy Now</button>
    </div>
  </div>
</div>
