<section class="block container">
  <header class="block__header">
    <h2 class="block-feature__heading">Learn More About Me</h2>
    <p class="block-feature__description">
      I work on a lot of fun project that I like to share to help others learn
      and get inspired. Below are some places you can go to learn more about me.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container icon-container--primary">
        <svg class="icon">
          <use xlink:href="images/media-sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Learn About This Website</h3>
      <p class="feature__text">
        I built and styled this website from scratch to enhance my development
        skills. This website also serves as a platform that I can use to
        showcase future projects. Learn more about the tools and skills that I
        used to build this website.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="images/website-plan.webp" />
      <source type="image/png" srcset="images/website-plan.png" />
      <img class="feature__image" src="/images/website-plan.webp" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <div class="feature__icon">
        <span class="icon-container icon-container--primary">
          <svg class="icon icon--linkedin-blue">
            <use xlink:href="images/sprite.svg#linkedin-icon"></use>
          </svg>
        </span>
      </div>
      <h3 class="feature__heading">Look At My LinkedIn</h3>
      <p class="feature__text">
        I have a diverse background and set of experiences that make me a unique
        professional. I have a bachelors of science in Enviromental Engineering
        and a masters of science in Data Science. I am currently working as a
        Software Engieer in the insurance indistry. Check out my Github to lern
        more about my professional experiences.
      </p>
      <a
        href="https://www.linkedin.com/in/andrew-francis-474366a8/"
        target="blank"
        class="link-arrow"
        >Look At My Professional Experience</a
      >
    </div>
    <picture>
      <source type="image/webp" srcset="images/Linkedin.webp" />
      <source type="image/png" srcset="images/Linkedin.png" />
      <img class="feature__image" src="/images/Linkedin.webp" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <div class="feature__icon">
        <span class="icon-container icon-container--primary">
          <svg class="icon">
            <use xlink:href="images/sprite.svg#github-icon"></use>
          </svg>
        </span>
      </div>
      <h3 class="feature__heading">Check Out My Github</h3>
      <p class="feature__text">
        As this website shows, I like to take on projects in my free time just
        for the fun of it and to build my skills. I use Github as a repository
        for all of my code. So, if you are interested in digging into the code
        behind my projects, head over to Github and check them out!
      </p>
      <a href="https://github.com/atfranc2" target="blank" class="link-arrow"
        >Check my code</a
      >
    </div>
    <picture>
      <source type="image/webp" srcset="images/github.webp" />
      <source type="image/png" srcset="images/github.png" />
      <img class="feature__image" src="/images/github.png" alt="" />
    </picture>
  </article>
</section>
