<footer class="block block--dark footer footer--dark">
  <div class="container footer__sections">
    <section class="collapsible footer__section">
      <header class="collapsible__header collapsible__toggler">
        <h2 class="collapsible__title footer__title">Products</h2>
        <svg class="icon icon--white collapsible__icon">
          <use xlink:href="images/media-sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="footer__item"><a href="#">Website Hosting</a></li>
          <li class="footer__item"><a href="#">Free Automated</a></li>
          <li class="footer__item"><a href="#">Wordpress</a></li>
          <li class="footer__item"><a href="#">Migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header collapsible__toggler">
        <h2 class="collapsible__title footer__title">Company</h2>
        <svg class="icon icon--white collapsible__icon">
          <use xlink:href="images/media-sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="footer__item"><a href="#">About</a></li>
          <li class="footer__item"><a href="#">Affiliates</a></li>
          <li class="footer__item"><a href="#">Blog</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header collapsible__toggler">
        <h2 class="collapsible__title footer__title">Support</h2>
        <svg class="icon icon--white collapsible__icon">
          <use xlink:href="images/media-sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="footer__item"><a href="#">Contact</a></li>
          <li class="footer__item"><a href="#">Knowledge Base</a></li>
          <li class="footer__item"><a href="#">FAQ</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header collapsible__toggler">
        <h2 class="collapsible__title footer__title">Domains</h2>
        <svg class="icon icon--white collapsible__icon">
          <use xlink:href="images/media-sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="footer__item"><a href="#">Domain Checker</a></li>
          <li class="footer__item"><a href="#">Domain Transfer</a></li>
          <li class="footer__item"><a href="#">Free Domain</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__attribution">
      <svg class="icon icon--white footer__icon">
        <use xlink:href="images/sprite.svg#af-icon"></use>
      </svg>
      <p class="footer__copyright">Copyright 2021 Andrew Francis</p>
    </section>
  </div>
</footer>
