<section class="hero block block--primary block--skewed-left">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">Andrew Francis</h1>
      <hr />
      <span class="hero__skill">Developer &#8226;</span>
      <span class="hero__skill">Engineer &#8226;</span>
      <span class="hero__skill">Scientist</span>
    </header>
    <picture>
      <source type="image/webp" srcset="images/proff_headshot.webp" />
      <source type="image/png" srcset="images/proff_head_shot.png" />
      <img class="hero__image" src="/images/proff_headshot.webp" alt="" />
    </picture>
  </div>
</section>
