<section class="block block--dark block--skewed-left block-showcase">
  <header class="block__header block-showcase__heading">
    <h2 class="block__heading">Look at this really cool project!</h2>
  </header>
  <div class="container grid grid--1x2">
    <picture class="block-showcase__image">
      <source type="image/webp" srcset="/images/data_has_a_better_idea.webp" />
      <source type="image/png" srcset="/images/data_has_a_better_idea.png" />
      <img src="/images/data_has_a_better_idea.webp" alt="" />
    </picture>
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--secondary">
              <use xlink:href="images/media-sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Updates</h3>
            <p class="media_description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
              ipsum tempora culpa esse? Repellat, ab iusto. Hic dicta aspernatur
              iure.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--secondary">
              <use xlink:href="images/media-sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Updates</h3>
            <p class="media_description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
              ipsum tempora culpa esse? Repellat, ab iusto. Hic dicta aspernatur
              iure.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--secondary">
              <use xlink:href="images/media-sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Updates</h3>
            <p class="media_description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
              ipsum tempora culpa esse? Repellat, ab iusto. Hic dicta aspernatur
              iure.
            </p>
          </div>
        </div>
      </li>
    </ul>
    <div class="block-showcase__medias"></div>
  </div>
</section>
